@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two ');
img {
	max-width: 40%;
	max-height: 40%;
}
html {
	font-size: 16px;
}
#banner {
	background-image: url("duluth.jpg");
	background-size: cover;
	background-position: center;
	overflow: hidden;
	background-repeat: no-repeat;
}
.Heading-title {
	text-align: center;
	margin-top: 10%;
	font-size: 3em;
	color: white;
	font-family: 'Lobster Two', cursive;
}

.Heading-sub {
	font-size: 2em;
	color: purple;
	font-family: 'Lobster Two', cursive;
}

.Heading {
	text-align: center;
	height: 800px;

	
}